

.video-react .video-react-control-bar .video-react-time-tooltip {
  background-color: red;
}
.control-bar {
  background-color: brown;
  color: #D53F8C;
  width: 400px;
}

  /* Style the scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 3px;
  }
